@model IEnumerable<Entities.Entities.Prefeito>

@{

}



<p>
    <a asp-action="Create">Clique aqui para vender um Prefeito.</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Imagem</th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @{
                        if (!string.IsNullOrWhiteSpace(item?.Url))
                        {
                            <img width="80" height="80" src=@item.Url />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.legenda)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
